body {
    background-color: #FFFF; 
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
    transform: translateX(-10%);
    font-size: 32px;
  }

  h2 {
    text-align: center;
    transform: translateX(65%);
    font-size: 20px;
    position: absolute;
    bottom: -49%;
    white-space: pre-line;
    z-index: 2;
  }

  .heart {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
    left: 20%;
    transform: scale(1.1);
    z-index: 1;
  }
  
  .heart::before,
  .heart::after {
    content: '';
    position: absolute;
    top: 0;
    width: 364px;
    height: 560px;
    border-radius: 350px 350px 0 0;
    background: #FFACDE;
  }
  
  .heart::before {
    left: 363px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  